{% extends 'dashboard/sidebar.html' %}
{% block title %} {{ title }} {% endblock %}

{% load crispy_forms_tags %}

 {% block navheader %}
    {% include 'dashboard/navheader.html' %}
 {% endblock %}

 {% block content %}
        <section class="content">
            <section class="container-fluid">

                <section class="form-wrapper">
                    <section class="row">
                        <section class="col col-sm-8 offset-sm-2">

                            {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}

                        </section>
                    </section>
                    <section class="row">
                        <section class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <h3 class="title-h3">Add User</h3>
                            <p>A user must be created before adding as an employee to the system</p>
                        </section>
                    </section>

                    <section class="row">
                        <section class="col-lg-12 col-md-12 col-sm-12">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form | crispy }}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                            </form>
                        </section>

                    </section>

                </section>

            </section> <!-- /container -->
        </section>
 {% endblock %}