{% extends 'dashboard/sidebar.html' %}
{% load humanize %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

 {% block navheader %}
 	{% include 'dashboard/navheader.html' %}
 {% endblock %}


{% block content %}
        <section class="content">
            <section class="container-fluid">
              <section class="row">
                <section class="col col-lg-12">
                  <span><a href="{{request.META.HTTP_REFERER|escape}}" style="color:#565656;">Back</a></span>
                </section>
              </section>
                      <section class="row">
                        <section class="col col-lg-12 col-md-12  col-sm-12">
                            {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}

                        </section>
                    </section>
            		<section class="row">
            			<section class="text-center">
            				<h3><span class="employee-name-title">{{ employee.get_full_name}}</span></h3>
            			</section>
            		</section>

                	<section class="row">
                	<section class="col col-lg-4 col-md-4 col-sm-12 profile-wrapper">
                    {% if employee.image %}
      						  <img src="{{ employee.image.url}}" class="img-fluid rounded-circle-image" >
                    {% else %}
                    <img src="{% static 'profiles/default.png' %}" class="img-fluid rounded-circle-image" />
                    {% endif %}
        						  <section class="text-centered" style="margin-top: 3px;">

            							<ul class="list-group">
              					  		<li class="list-group-item"><span>Fullname</span> <div>{{ employee.get_full_name }}</div></li>
              					  		<li class="list-group-item"><span>Nationality</span><div> {{ employee.nationality}}</div></li>
                              {% if employee.email %}
                              <li class="list-group-item"><span>Email</span> <div>{{ employee.email}}</div></li>
                              {% endif %}

                              <li class="list-group-item"><span>Employee Type</span> <div>{{ employee.employeetype}}</div></li>
                              <li class="list-group-item"><span>Role</span> <div>{{ employee.role}}</div></li>
              					  		<li class="list-group-item"><span>Date of Birth</span> <div>{{ employee.dateOfBirth}}</div></li>
                              <li class="list-group-item"><span>Age </span><div>{{ employee.get_age }}</div></li>

              					  		{% if employee.is_blocked %}
              					  		<li class="list-group-item"><span>Status</span> <div>Inactive</div></li>
              					  		{% else %}
              					  		<li class="list-group-item"><span>Status</span><div> active</div></li>
              					  		{% endif %}
                              <div>
                                <span style="font-style: italic;">updated - {{employee.updated|naturaltime}}</span>
                              </div>

            							</ul>
        						  </section>
						        </section><!-- /profile-wrappper -->
              			<section class="col col-lg-8" >
                            <!-- ACCORDIAN - COLLAPSIBLE -->
                            <!-- 1 Personal Detail -->
                            <!-- 2 -- Family -->
                            <!-- 3--  Emergency -->
                            <!-- 4 -- Bank Account -->
                     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- PERSONAL INFORMATION -->
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PERSONAL INFORMATIONS
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col col-lg-6">
                                      {% if employee %}
                                          <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Salutation</span> <div>{{ employee.title }}</div>
                                            </a>

                                            {% if employee.firstname %}
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Firstname</span> <div> {{ employee.firstname}} </div>
                                            </a>
                                            {% endif %}

                                            {% if employee.lastname %}
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Lastname</span> <div> {{ employee.lastname }} </div>
                                            </a>
                                            {% endif %}

                                            {% if employee.othername %}
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Othername</span> <div>{{ employee.othername}} </div>
                                            </a>
                                            {% endif %}

                                            {% if employee.sex %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Gender</span> <div> {{ employee.sex }}
                                            </div>
                                            </a>
                                            {% endif %}

                                            <!-- recent added 29/03/19 -->
                                            {% if employee.email %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Email </span><div>{{ employee.email }} </div>
                                            </a>
                                            {% endif %}



                                            {% if employee.tel %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Contact</span> <div> {{ employee.tel  }}</div></a>
                                            {% endif %}


                                            {% if employee.dateOfBirth %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Date of Birth</span><div>{{ employee.birthday}}</div></a>
                                            {% endif %}

                                            {% if employee.employeeid %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Employee ID</span> <div>{{ employee.employeeid }}</div></a>
                                            {% endif %}

                                            {% if employee.dateissued %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Date Issued(Employee ID)</span> <div>{{ employee.dateissued }}</div></a>
                                            {% endif %}

                                            {% if request.user.is_superuser %}
                                            <div>
                                              <span><a href="{% url 'dashboard:edit' employee.id %}">Edit</a></span>
                                            </div>
                                            {% endif %}

                                          </div>
                                  {% endif %}



                                  </div>
                                  <!-- Here working -->
                                  <div class="col col-lg-6">
                                        {% if  employee.religion %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span style="">Religion</span><div>{{  employee.religion }}</div>
                                            </a>
                                            {% endif %}

                                            {% if employee.nationality %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Nationality</span><div>{{ employee.nationality }}</div></a>
                                            {% endif %}


                                            {% if employee.address %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Address (Residence)</span> <div>{{ employee.address }}</div></a>
                                            {% endif %}

                                            {% if employee.education %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Education (Highest)</span> <div>{{ employee.education }}</div></a>
                                            {% endif %}


                                            {% if employee.startdate %}
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Employement Date</span> <div>{{ employee.startdate  }}</div></a>
                                            {% endif %}


                                           <div>
                                            <span>last update - {{employee.updated|naturaltime }}</span>
                                           </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /PERSONAL INFORMATION -->



                        <!-- BANK ACCOUNT -->
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                 BANK ACCOUNT INFORMATION
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                              <section class="container-fluid">

                                   <div class="row">

                                        {% if bank %}
                                          <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Bank name</span> <div>{{ bank.name }}</div></a>
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Account Number</span> <div> {{ bank.account }}</div></a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Branch </span><div>{{ bank.branch }}</div></a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>Salary (Initial)</span> <div>{{ bank.salary}}</div></a>

                                            {% if request.user.is_superuser %}
                                            <span><a href="{% url 'dashboard:bankedit' bank.id %}">Edit</a></span>
                                            {% endif %}

                                            <div>
                                              <span>last update - {{bank.updated|naturaltime }}</span>
                                            </div>


                                          </div>
                                        {% else %}

                                        <h4>
                                          {% if request.user.is_superuser %}No Information found,to add click
                                          <a href="{% url 'dashboard:bankaccountcreate' %}">here</a>
                                          {% else%}
                                            No Information can be found. see your human resource manager.
                                          {% endif %}
                                        </h4>

                                        {% endif %}

                                   </div>
                                </section>
                            </div>
                          </div>
                        </div>
                        <!-- /BANK ACCOUNT -->

                      </div><!-- /ACCORDION PARENT -->



                		</section>
                 	</section><!-- /Row -->

            </section> <!-- /container -->


        </section><!-- /content -->
 {% endblock %}
